apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
spec:
  replicas: 3
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: ghcr.io/yoonyeo/msa-portfolio-api-gateway:2292042b8a105500905e3c33cb53f3e56ae5b6b8
          imagePullPolicy: Always
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: prd
          ports:
            - containerPort: 8080
