apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
spec:
  replicas: 3
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: ghcr.io/yoonyeo/msa-portfolio-api-gateway:d80709ba41bb9be0143890fb07988f1e60b47e64
          imagePullPolicy: Always
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: prd
          ports:
            - containerPort: 8080
